@model DeviantMusicCore.Models.Software

@{
    ViewData["Title"] = "Attach File";
    Layout = "_AdminLayout";
}
<h3> Attach File</h3>
<form method="post" enctype="multipart/form-data" class="container-fluid" asp-action="AttachFile">
    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl"/>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <div class="col-md-12">
            <label>Name: </label>@Model.Name
            <br/>
            <label>Zip File (Less than 20mb)</label>
            <input type="file" name="AudioFile" id="fileUpload1" accept=".zip,.rar" class="form-control"/>
            <br/>
            <input type="submit" class="btn btn-success" value="Attach" />
            <input type="button" value="Back" onclick="window.history.back();" class="btn btn-primary"/>
        </div>
    </div>
</form>