@model DeviantMusicCore.Models.BlogCategory

@{
    ViewData["Title"] = "Edit Category";
    Layout = "_AdminLayout";
}

<h3>Edit Genre</h3>
<form method="post" action="EditCategory">
    <div class="form-group">        
        <div class="col-12">
            <label>Category</label>
            <br/>
            <input asp-for="Category" class="form-control" />
            <br/>
        </div>        
        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Update" />
            <a asp-action="CategoryList" class="btn btn-primary">Back</a>
        </div>
    </div>
</form>
