@model DeviantMusicCore.Models.AdsB

@{
    ViewData["Title"] = "Edit Banner Ad";
    Layout = "_AdminLayout";
}
<h3>Edit Banner Ad</h3>
<form method="post" enctype="multipart/form-data" asp-action="EditAdsB">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <div class="col-md-12">
            <label>Image(512kb max size)</label>
            <img style="width:100%;height:60px;" src="@ViewBag.ImageDataUrl"/>
            <input type="file" name="ImageUrl" id="fileUpload" accept=".png,.jpg,.jpeg,.gif,.tif" class="form-control"/>
            <br/>
            <label>Date: @Model.Date.ToString("dd/MMM/yyyy"), Select New Date?</label>
            <input asp-for="Date" data-val="true" asp-format="{0:dd/MMM/yyyy}" class="form-control"/>
            <br/>
            <label>Title</label>
            <Input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
            <br/>
            <label>Alternate Text</label>
            <Input asp-for="AlternateText" class="form-control" />
            <span asp-validation-for="AlternateText" class="text-danger"></span>
            <br/>
            <label>Url</label>
            <Input asp-for="Url" class="form-control" />
            <span asp-validation-for="Url" class="text-danger"></span>
            <br/>
            <label>NavigateUrl</label>
            <Input asp-for="NavigateUrl" class="form-control" />
            <span asp-validation-for="NavigateUrl" class="text-danger"></span>
            <br/>
            <input type="submit" class="btn btn-success" value="Update" />
            <a asp-action="BannerAdsList" class="btn btn-primary">Back</a>
        </div>
    </div>
   
</form>
