<footer class="main-footer border-top box-shadow" style="width: 100%;">
                <div class="container">
                    <center> &copy; @DateTime.Now.Year -<a asp-area="" asp-controller="Home" asp-action="Index"> Deviant Music</a></center>
                </div>
            </footer>