@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = "/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "/Views/Shared/_AdminLayout.cshtml";
    }
}
<div class="container-fluid">
    @RenderBody()
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
