@model IEnumerable<DeviantMusicCore.Models.HomeCarousel>
<div id="hero-carousel" class="carousel slide" data-ride="carousel" data-interval="5000">
            <!-- Indicators -->
            <a class="carousel-control-prev" href="#hero-carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only"><i class="fas fa-chevron-cirle-left"></i></span>
            </a>
            <a class="carousel-control-next" href="#hero-carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only"><i class="fas fa-chevron-cirle-right"></i></span>
            </a>
            <!-- The slideshow -->
            <div class="carousel-inner">
                @foreach(var file in Model)
                {
                    <div class="carousel-item @(file == Model.First() ? "active":"")">
                        <a href="#"><img style="object-fit: cover;" src="data:image/*;base64,@(Convert.ToBase64String(file.CarouselImage))" alt="@file.Name"></a>
                    </div>
                }
            </div>
            <br/>
</div>