
@{
    ViewData["Title"] = "About";
}

<h2>About</h2>
<br/>
<div class="row form-inline">
    <article class="col-md-4" role="article">
        <header><h4>Managed Artistes</h4></header>
        <p>Get the inside view of our <a asp-controller="Artiste" asp-action="Index">Managed Artistes</a></p>
        <br/>
    </article>
    <article class="col-md-4" role="article">
        <header><h4>Team</h4></header>
        <p>Get to know about our <a asp-controller="Team" asp-action="Index">Our Team</a></p>
        <br/>
    </article>
    <article class="col-md-4" role="article">
        <header><h4>Privacy Policy</h4></header>
        <p><a asp-controller="Home" asp-action="Privacy">Click here</a> to read our Privacy Policy</p>
        <br/>
    </article>
    <article class="col-md-4" role="article">
        <header><h4>Help and FAQ</h4></header>
        <p><a asp-controller="Home" asp-action="Help">Click here</a> to read our Help and FAQ</p>
        <br/>
    </article>
    <article class="col-md-4" role="article">
        <header><h4>Pricing and Services</h4></header>
        <p><a asp-controller="Home" asp-action="Pricing">Click here</a> to read our Privacy Policy</p>
        <br/>
    </article>
    <article class="col-md-4" role="article">
        <header><h4>Legal Disclaimer</h4></header>
        <p><a asp-controller="Home" asp-action="Disclaimer">Click here</a> to read our Legal dsiclaimer and DMCA</p>
        <br/>
    </article>
    <article class="col-md-4" role="article">
        <header><h4>Terms of Use and Services</h4></header>
        <p><a asp-controller="Home" asp-action="Terms">Click here</a> to read our Privacy Policy</p>
        <br/>
    </article>
    <article class="col-md-4" role="article">
        <header><h4>Deviant Music</h4></header>
        <p><a asp-controller="Home" asp-action="AboutUs">Click here</a> to read our Privacy Policy</p>
        <br/>
    </article>
    <article class="col-md-4" role="article">
        <header><h4>Contact Us</h4></header>
        <p><a asp-controller="Home" asp-action="ContactUs">Click here</a> to read our Privacy Policy</p>
        <br/>
    </article>
</div>

