@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}
<div class="text-center">
<h1 class="h4 text-gray-900 mb-4">@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>
</div>

