@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

<div class="text-center">
<h1 class="h4 text-gray-900 mb-4">@ViewData["Title"]</h1>
<hr />
<p>
    Your password has been reset. Please <a asp-page="./Login">click here to sign in</a>.
</p>
</div>
